.header {
  display: flex;
  background-color: #664cf4;
  padding: 10px;
  justify-content: space-between;
}

.header .header-link {
  margin: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid transparent;
  transition: .5s;
}
.header-link:hover {
  border-bottom: 2px solid #fff;
}
.header-item {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}
.flex {
  display: flex;
}
