.post {
    background-color: #fff;
    margin: 10px 15px;
    padding: 10px 20px;
    box-shadow: 0px 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}
.post-header {
    text-transform: capitalize;
    font-size: 24px;
}

.post-content {

}